*{
    margin: 0;
    padding: 0;
}
main svg{
    max-width: 500px;
    display: block;
}
main{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
.loadScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 9999;
    background: black;
    top: 0;
    left: 0;
}
.loadScreen button{
    width: 4rem;
    height: 2rem;
    align-self: center;

}
.hide{
    display: none;
}